@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: auto;
    width: 100%;
    background: linear-gradient(to bottom,#041b65, #06A77D);
}

.container {
    display: flex;
    
    min-height: 260vh;
    flex-direction: row;
    gap: 20px;
    position: relative;
}

/*Design for Heading */
.heading {
    border: 2px solid white;
    position: absolute;
    background-color: #190B28;
    color: #EE6C4D;
    min-width: 100%;
    height: 150px;
    font-size: 50px;
}

.head {
    position: absolute;
    left: 100px;
    top: 8px;
}

/*Design for Python Logo */
.pylogo {
    border: 2px solid white;
    
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.pylogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.robot {
    border: 2px solid white;
    
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 150px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.robot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.insightsI {
    position: absolute;
    top: 160px;
    color: white;
    font-size: 20px;
    background: linear-gradient(to bottom, #23323d, #041b65)

}

table {
    width: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
    
}

th, td {
    padding: 20px;
    text-align: left;
    border: 2px solid #ddd;
  }

th {
    font-weight: bold;
  }
  
tr:hover {
    background-color: #01FDF6;
    color: #000;
  }
