body {
    background-image: url("../images/start/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.start {
    text-transform: uppercase;
    color: #7843e6;
    font-family: Alegreya;
    font-size: 45px;
    text-align: center;
    border: 2px solid white;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .intro {
    color: #7843e6;
    font-family: Alegreya;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    text-shadow: 2px 2px 4px rgba(231, 25, 25, 0.2);
    padding: 0;
    box-sizing: border-box;
  }