@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: auto;
    background: linear-gradient(to bottom,#041b65, #06A77D);
}

.container {
    display: flex;
    border: 2px solid white;
    min-height: 155vh;
    flex-direction: row;
    gap: 20px;
    position: relative;
}

/*Design for Heading */
.heading {
    border: 2px solid white;
    position: absolute;
    background-color: #190B28;
    color: #EE6C4D;
    width: 100%;
    height: 150px;
    font-size: 40px;
}

.head {
    position: absolute;
    left: 50px;
    top: 20px;
}

/*Design for Python Logo */
.pylogo {
    border: 2px solid white;
    
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.pylogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forbutton {
    position: absolute;
    top: 150px;
    min-height: 130vh;
    right: 0;
    z-index: 1;
}

.missbutton {
    position: absolute;
    top: 150px;
    min-height: 130vh;
    left: 0;
    z-index: 1;
}

.start {
    font-family: inherit;
    position: sticky;
    right: 0px;
    top: 0px;
    border: 2px solid white;
    background-color: #190B28;
    color: #EE6C4D;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.start:hover {
    background-color: #EE6C4D;
    color: #190B28;
    transition: 1s;
}

.start_1 {
    font-family: inherit;
    position: absolute;
    left: 0px;
    border: 2px solid white;
    background-color: #190B28;
    color: #EE6C4D;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.start_1:hover {
    background-color: #EE6C4D;
    color: #190B28;
    transition: 1s;
}

.basics {
    position: absolute;
    width: 100%;
    height: 800px;
    top: 150px;
    /*border: 2px solid white;*/
}

.basichead {
    position: absolute;
    left: 600px;
    background-color: #190B28;
    color: #06A77D;
    font-size: 30px;
    /*border: 2px solid white;*/
    padding: 10px;
    top: 50px;
}



.next1 button {
    position: absolute;
    font-family: inherit;
    top: 750px;
    left: 500px;
    border: 2px solid white;
    width: 450px;
    height: 120px;
    background-color: #190B28;
    color: #EE6C4D;
    font-size: 42px;
    padding: 10px;
    border-radius: 10px;
}

.next1 button:hover {
    background-color: #EE6C4D;
    color: #190B28;
    transition: 1s;
}


.robot {
    border: 2px solid white;
    
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 150px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.robot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.missed {
    display:flex;
    position: absolute;
    top: 200px;
    color: white;
    font-size: 27px;
    margin: 20px;
    flex-direction: row;
    border: 2px solid white;
    width: 80%;
    left: 100px;
    gap: 20px;

}

.missed-info {
    display: flex;
    flex-direction: column;
}

table {
    width: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
    
}

.histogram {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 650px;
}

.hist-img {
    width: 100%;
    height: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 2px solid #ddd;
  }

th {
    font-weight: bold;
  }
  
tr:hover {
    background-color: #01FDF6;
    color: #000;
  }