@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 200vh;
    width: auto;
    background: linear-gradient(to bottom,#041b65, #06A77D);
}

.container {
    display: flex;
    border: 2px solid white;
    min-height: 150vh;
    flex-direction: row;
    gap: 20px;
    position: relative;
}

/*Design for Heading */
.heading {
    border: 2px solid white;
    position: absolute;
    background-color: #190B28;
    color: #EE6C4D;
    width: 100%;
    height: 150px;
    font-size: 35px;
}

.head {
    position: absolute;
    left: 50px;
    top: 26px;
}



.forbutton {
    position: absolute;
    top: 150px;
    min-height: 130vh;
    right: 0;
    z-index: 1;
}



.start {
    font-family: inherit;
    position: sticky;
    right: 0px;
    top: 0px;
    border: 2px solid white;
    background-color: #190B28;
    color: #EE6C4D;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.start:hover {
    background-color: #EE6C4D;
    color: #190B28;
    transition: 1s;
}

.next3 button {
    position: absolute;
    font-family: inherit;
    bottom: 0px;
    left: 500px;
    border: 2px solid white;
    width: 450px;
    height: 120px;
    background-color: #190B28;
    color: #EE6C4D;
    font-size: 42px;
    padding: 10px;
    border-radius: 10px;
}

.next3 button:hover {
    background-color: #EE6C4D;
    color: #190B28;
    transition: 1s;
}



.type {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    position: relative;
}

.submit {
    position: relative;
    top: 0;
    border: 2px solid white;
    background-color: #190B28;
    color: #EE6C4D;
    width: 350px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.submit:hover {
    background-color: #EE6C4D;
    color: #190B28;
    transition: 1s;
}

.message {
    position: absolute;
    font-size: 30px;
    top: 155px;
    left: 450px;
    color: #EE6C4D;
    background-color: #190B28;
    border: 1px solid #EE6C4D;
    padding: 10px;
}

.message hover {
    background-color: #EE6C4D;
    color: #190B28;
    transition: 1s;
}

.message p {
    padding-left: 20px;
}