@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: auto;
    background: linear-gradient(to bottom,#041b65, #06A77D);
}

.container {
    display: flex;
    border: 2px solid white;
    min-height: 155vh;
    flex-direction: row;
    gap: 20px;
    position: relative;
}

/*Design for Heading */
.heading {
    border: 2px solid white;
    position: absolute;
    background-color: #190B28;
    color: #EE6C4D;
    width: 100%;
    height: 150px;
    font-size: 50px;
}

.head {
    position: absolute;
    left: 100px;
    top: 8px;
}

/*Design for Python Logo */
.pylogo {
    border: 2px solid white;
    
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.pylogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forbutton {
    position: absolute;
    top: 150px;
    min-height: 130vh;
    right: 0;
    z-index: 1;
}

.start {
    font-family: inherit;
    position: sticky;
    right: 0px;
    top: 0px;
    border: 2px solid white;
    background-color: #190B28;
    color: #EE6C4D;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.start:hover {
    background-color: #EE6C4D;
    color: #190B28;
    transition: 1s;
}

.basics {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 150px;
    border: 2px solid white;
}

.basichead {
    position: absolute;
    left: 150px;
    background-color: #190B28;
    color: #06A77D;
    font-size: 30px;
    border: 2px solid white;
    padding: 10px;
    top: 50px;
}

.insights1 button {
    position: absolute;
    font-family: inherit;
    top: 150px;
    left: 90px;
    border: 2px solid white;
    width: 350px;
    height: 120px;
    background-color: #190B28;
    color: #06A77D;
    font-size: 30px;
    padding: 10px;
}

.insights1 button:hover {
    background-color: #06A77D;
    color: #190B28;
    transition: 1s;
}


.insights2 button {
    position: absolute;
    font-family: inherit;
    bottom: 50px;
    left: 90px;
    border: 2px solid white;
    width: 350px;
    height: 120px;
    background-color: #190B28;
    color: #06A77D;
    font-size: 30px;
    padding: 10px;
}

.insights2 button:hover {
    background-color: #06A77D;
    color: #190B28;
    transition: 1s;
}


.robot {
    border: 2px solid white;
    
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 150px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.robot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



