<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categorical analysis</title>
    <link rel="stylesheet" href="../static/css/category.css">
    <script src = ../static/js/redirect.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Categorical Analysis
            </h1>
            
            
            
        
        <!--Adding python logo-->
        <div class="pylogo">
            <img src="../static/images/python(2).png" alt="python" class="python">
        </div>

        <!--Adding image of robot-->
        <div class="robot">
            <img src="../static/images/machine-learning-artificial-intelligence-deep-learning-computer-science-technology-44866d77e0f551758f0ede44987fd317.png" alt="robot" class="robo">
            </div>

        <!--Insights 1 results-->
        <div class="category">
            {{dataset|safe}}
        </div>

        <div class="histplot">
            <p class = "head1">Some Histograms to Understand Distribution</p>

            <p class = "head2">Select 2-9 features you want to plot histogram for:</p>
            <form action="/histograms" method="POST" class = "features">

                {% for i in columns %}
                    <input type = "checkbox" id = "columns" name = "columns" value = {{i.replace(" ",",")}}> {{i}}
                {% endfor %}
            
                <input type="submit" value="Plot Histograms" class="submit">
            </form>
            
            
        </div>
        
        </main>
        
        
</body>
</html>