<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encoding</title>
    <link rel="stylesheet" href="../static/css/EDA.css">
    <script src = ../static/js/slot2.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Phase4: Exploratory Data Analysis
            </h1>
        </div>
        
        <div class="message">
            Leave this Page as it is
            <hr>
             <p>
                To be designed later
             </p>
         </div>

            

    

        <!--Button for checking dataset uploaded-->
        <div class="forbutton">
            <button onclick = "show_dataset()" class = "start">
                Check Dataset
            </button>    
        </div>
        
        
       
        

        <div class="next3">
            <button onclick = "next4()">
                Continue to Phase 5
            </button>
        </div>
        
        
        </main>
        
        
</body>
</html>