<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encoding</title>
    <link rel="stylesheet" href="../static/css/Encoding.css">
    <script src = ../static/js/slot2.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Phase3: Encoding Categorical Features
            </h1>
        </div>
        
        <div class="message">
           {{message1}}
           <hr>
            <p>{{message2}}</p>
        </div>
        
        
            

        <div class="encoding">
            {% for feature in feature_names%}
            <form action = "/encoding" method = "POST" class = "features">
                
                    <label>{{feature}}</label>
                    <input type="text" name = "{{ feature }}"><br><br>
                
                <input type="submit" value="Encode" class = "submit">
            </form>
            {% endfor %}
        </div>

        <!--Button for checking dataset uploaded-->
        <div class="forbutton">
            <button onclick = "show_dataset()" class = "start">
                Check Dataset
            </button>    
        </div>
        
        
       
        

        <div class="next3">
            <button onclick = "next2()">
                Continue to Phase 4
            </button>
        </div>
        
        
        </main>
        
        
</body>
</html>