<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/index.css">
    <title>Home Page</title>
</head>
<body>
    <h1 class="headers">Data Dynamics: Exploring Patterns, Possibilities and Predictions</h1>
    <!--<h2 class="headers">and Possibilities</h2>-->

<div class="container">
    <div class="images">
    <div class="member-img"><img src="../static/images/start/sirjan.png" class="member-img">
        <p class="image-caption">Sirjan Hansda</p>
        </div>
    <div class="member-img"><img src="../static/images/start/ayush.png" class="member-img">
        <p class="image-caption">Ayush Raina</p>
        </div>
    <div class="member-img"><img src="../static/images/start/saivinayak.png" class="member-img">
        <p class="image-caption">Saivinayak</p>
        </div>
    </div>
    <div class="start-button">
       <div class="button"></div> 
       </div>
</div>



</body>
</html>