<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet'>

    <meta charset="UTF-8">
    <title>Data Insights</title>
    <link rel="stylesheet" href="../static/css/index.css">    
</head>
<body>
<h1 class="headers">Data Dynamics: Exploring Patterns, Possibilities and Predictions</h1>
    <!--<h2 class="headers">and Possibilities</h2>-->

<div class="container">
    <div class="member-img"><img src="../static/images/start/sirjan.png" class="member-img">
        <p class="image-caption">Sirjan Hansda</p>
        </div>
    <div class="member-img"><img src="../static/images/start/ayush.png" class="member-img">
        <p class="image-caption">Ayush Raina</p>
        </div>
    <div class="member-img"><img src="../static/images/start/saivinayak.png" class="member-img">
        <p class="image-caption">Saivinayak</p>
        </div>
</div>

    
</body>
</html>