<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InsightsI</title>
    <link rel="stylesheet" href="../static/css/insights1.css">
    <script src = ../static/js/slot2.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Data Insights: Level I
            </h1>
            
            
            
        
        <!--Adding python logo-->
        <div class="pylogo">
            <img src="../static/images/python(2).png" alt="python" class="python">
        </div>

        <!--Adding image of robot-->
        <div class="robot">
            <img src="../static/images/machine-learning-artificial-intelligence-deep-learning-computer-science-technology-44866d77e0f551758f0ede44987fd317.png" alt="robot" class="robo">
            </div>

        <!--Insights 1 results-->
        <div class="insightsI">
            {{dataset|safe}}
        </div>
        
        </main>
        
        
</body>
</html>