<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel = "stylesheet" href = "../static/css/intro.css">
    <script src = "../static/js/intro.js"></script>
</head>
<body>
   <h1 class="start">Introduction Page</h1> 
    <!-- <button onclick = "upload()" class="go">Lets Start</button> -->
    <div>
         <h2 class="intro">Various Steps to Train a ML Model on a data</h2>
         <img src="../static/images/intro/steps_to_learn.jpg">
    </div>

</body>
</html>