<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel = "stylesheet" href = "../static/css/intro.css">
    <script src = "../static/js/intro.js"></script>
</head>
<body>
    <div class="intro">

   <h1 class="start">Introduction Page</h1> 
    <!-- <button onclick = "upload()" class="go">Lets Start</button> -->
         <h2 class="intro-head">Various Steps to Train a ML Model on a data</h2>
         <img src="../static/images/intro/steps_to_learn.jpg" class="img1">
         <br>
         <div class="intro-text">
        We have classified the various steps of the training process into 4 categories:
        <ol>
            <li>Insights 1</li>
            <li>Insights 2</li>
            <li>Visualisation</li>
            <li>Categorical Analysis</li>
        </ol>
        <br>
        Let us see the purpose and tasks of each one in detail:
        <br>
        <h3 class="topic-head">Insights 1:</h3>
        <h3 class="topic-head">Insights 2:</h3>
        <h3 class="topic-head">Visualisation:</h3>
        <h3 class="topic-head">Categorical Analysis:</h3>
        </div>
        </div>
        <button onclick = "upload()" class="go">Lets Start</button>
    
    </div>

</body>
</html>