<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Value Analysis</title>
    <link rel="stylesheet" href="../static/css/missvalue.css">
    <script src = ../static/js/slot2.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Phase2: Missing Value Analysis
            </h1>
        </div>
        
        
        <!--Adding python logo-->
        <div class="pylogo">
            <img src="../static/images/python(2).png" alt="python" class="python">
        </div>

        <!--Adding image of robot-->
        <div class="robot">
            <img src="../static/images/machine-learning-artificial-intelligence-deep-learning-computer-science-technology-44866d77e0f551758f0ede44987fd317.png" alt="robot" class="robo">
            </div>


        <!--Button for checking dataset uploaded-->
        <div class="forbutton">
            <button onclick = "show_dataset()" class = "start">
                Check Dataset
            </button>    
        </div>
        
        <div class="missbutton">
            <button onclick = "show_miss_dataset()" class = "start_1">
                Check Misses
            </button>    
        </div>
       
        <div class="miss_table">
            {{dataset|safe}}<br>
            {{message}}<br>
            <img src = "{{bar_url}}" alt="barplot" class="barplot">
        </div>

        

            
        </div>
            

        
        <div class="next1">
            <button onclick = "next2()">
                Continue to Phase 3
            </button>
        </div>
        


     
        </main>
        
        
</body>
</html>