<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encoding</title>
    <link rel="stylesheet" href="../static/css/ML.css">
    <script src = ../static/js/slot2.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Phase3: Encoding Categorical Features
            </h1>
        </div>
        
        <div class="message">
           Here on Intro Page of ML first we need to show
           <hr>
            <p>what we have done till now</p>
        </div>
        
        
            

       
        <!--Button for checking dataset uploaded-->
        <div class="forbutton">
            <button onclick = "show_dataset()" class = "start">
                Check Dataset
            </button>    
        </div>
        
        
       
        

        <div class="next3">
            <button onclick = "start_ML()">
                Start Machine Learning
            </button>
        </div>
        
        
        </main>
        
        
</body>
</html>