<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regression</title>
    <link rel="stylesheet" href="../static/css/regression.css">
    <script src = ../static/js/slot2.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Regression Algorithms
            </h1>

            <p>Training Set: {{training}}</p>
            
            <p>Testing Set: {{testing}}</p>
        </div>
        
        <div class="message">
           Here on Intro Page of ML first we need to show
           <hr>
            <p>what we have done till now</p>
        </div>
        
        
            

       
        <!--Button for checking dataset uploaded-->
        <div class="forbutton">
            <button onclick = "show_dataset()" class = "start">
                Check Dataset
            </button>    
        </div>
        
        
    
        
        </main>
        
           
        
            
        
</body>
</html>