<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starter</title>
    <link rel="stylesheet" href="../static/css/slot2intro.css">
    <script src = ../static/js/slot2.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Phase1: Data Processing
            </h1>
        </div>
        
        
        <!--Adding python logo-->
        <div class="pylogo">
            <img src="../static/images/python(2).png" alt="python" class="python">
        </div>

        <!--Adding image of robot-->
        <div class="robot">
            <img src="../static/images/machine-learning-artificial-intelligence-deep-learning-computer-science-technology-44866d77e0f551758f0ede44987fd317.png" alt="robot" class="robo">
            </div>


        <!--Button for checking dataset uploaded-->
        <div class="forbutton">
            <button onclick = "show_dataset()" class = "start">
                Check Dataset
            </button>    
        </div>

       <div class="basics">
           <h2 class="basichead">
               Let's explore the dataset before proceeding further 
            </h2> 
        
        <div class="insights1">
            <button onclick = "insights1()">
                Data Insights: Level I
            </button>
        </div>    

        <!--Div for checking column names -->
        <div class="insights2">
            <button onclick = "insights2()">
                Data Insights: Level II
            </button>
        </div>


        <div class="Category">
            <button onclick = "category()">
                Categorical Analysis
            </button>
        </div>


        <div class="visual1">
            <button onclick = "visual1()">
                Visualization-I
            </button>
        </div>
        
        
        
        </div>


        <div class="next1">
            <button onclick = "next1()">
                Continue to Phase 2
            </button>
        </div>
        
        </main>
        
        
</body>
</html>