<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "../static/css/upload.css">
    <script src = "../static/js/intro.js"></script>
    <title>Upload Page</title>
</head>
<body>
    
    <div class="upload">
        <h2 class = "head">Upload the dataset</h2>
        
        <form action="/upload" method = "POST" enctype = "multipart/form-data">
                
                <input type="file" name="file" id="file" class="file" accept = ".csv">
                <input type="submit" value="Upload" class="submit">
            
        </form>
    </div>

    <div class="done">
        <h2>
          {% if next_var %}
            Upload Succcessful
          {% else %}
            No file Uploaded
          {% endif %}
        </h2>
      </div>
      {% if next_var %}
        <button class = "success" onclick = "reachmain()">
          Next
        </button>
      {% endif %}
      
      
    
    
</body>
</html>