<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization-I</title>
    <link rel="stylesheet" href="../static/css/visualization1.css">
    <script src = ../static/js/redirect.js></script>
</head>
<body>


    <main class="container">

        <!--heading for page-->
        <div class="heading">
            <h1 class="head">
                Visualization-I
            </h1>
            
        <div class="graph1">
            <img src="{{graph1_url}}" alt="graph1" class="graph">
        </div>


        <div class="graph2">
            <img src="{{graph2_url}}" alt="graph1" class="graph">
        </div>
            
        
        <!--Adding python logo-->
        <div class="pylogo">
            <img src="../static/images/python(2).png" alt="python" class="python">
        </div>

        <!--Adding image of robot-->
        <div class="robot">
            <img src="../static/images/machine-learning-artificial-intelligence-deep-learning-computer-science-technology-44866d77e0f551758f0ede44987fd317.png" alt="robot" class="robo">
            </div>

        <div class="visualm">
            {{message1}}
        </div>

        <div class="histplot">
           Some Histograms to Understand Distribution
        </div>
        
        </main>
        
        
</body>
</html>